* {
  box-sizing: border-box;
}
/*
font-family: 'Great Vibes', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Raleway', sans-serif;
**/
:root {
  --darkBbrown: #211B12;
  --lightBrown: #D5BE9D;
  --darkBlue: #2D4B64;
  --white: #fff;
  --halfWhite: rgba(255,255,255,0.5);
}

body, html {
  background: #F2F2F2;
}


.font-vibes {font-family: 'Great Vibes', cursive;}
.font-just {font-family: 'Just Another Hand', cursive;}
.font-varela {font-family: 'Varela Round', sans-serif;}
.font-raleway {font-family: 'Raleway', sans-serif;}
[class*=font] {
  -webkit-font-smoothing: antialiased;
}

.color-dark-brown {color: var(--darkBbrown);}
.color-light-brown {color: var(--lightBrown);}
.color-dark-blue {color: var(--darkBlue);}
.color-white {color: var(--white);}
.color-red {color: red;}
.bg-half-red {background: rgba(255, 0, 0, 0.4);}

.color-half-white {color: var(--halfWhite);}

.bg-dark-brown {background-color: var(--darkBbrown);}

.bg-light-brown {background-color: var(--lightBrown);}
@media screen and (max-width: 1023px) {
  .bg-m-light-brown {background-color: var(--lightBrown);}
}
@media screen and (min-width: 1024px) {
  .bg-d-light-brown {background-color: var(--lightBrown);}
}


.bg-dark-blue {background-color: var(--darkBlue);}
@media screen and (max-width: 1023px) {
  .bg-m-dark-blue {background-color: var(--darkBlue);}
}
@media screen and (min-width: 1024px) {
  .bg-d-dark-blue {background-color: var(--darkBlue);}
}


.bg-white {background-color: var(--white);}
.bg-half-white {background-color: var(--halfWhite);}

.p-t-5 { padding-top: 5px;}
.p-b-5 { padding-bottom: 5px;}

.p-t-15 { padding-top: 15px;}
.p-b-15 {padding-bottom: 15px;}
.p-t-30 { padding-top: 30px;}
.p-t-60 { padding-top: 60px;}
.p-b-30 {padding-bottom: 30px;}
.p-b-60 {padding-bottom: 60px;}

.p-l-15 {padding-left: 15px;}
.p-r-15 {padding-right: 15px;}
.p-l-5 {padding-left: 5px;}

.m-t-15 {margin-top: 15px;}
.m-t-10 {margin-top: 10px;}
.m-t-5 {margin-top: 5px;}
.m-b-15 {margin-bottom: 15px;}
.m-b-5 {margin-bottom: 5px;}
.m-b-10 {margin-bottom: 10px;}
.m-t-30 {margin-top: 30px;}
.m-b-30 {margin-bottom: 30px;}

.m-l-15 {margin-left:15px;}
.m-r-15 {margin-right:15px;}
.m-r-10 {margin-right:10px;}
.m-r-5 {margin-right:5px;}



@media screen and (min-width: 1024px) {
  .m-l-d-0 {margin-left:0}
  .m-r-d-0 {margin-right:0}
  .m-t-d-0 {margin-top: 0;}
  .m-b-d-0 {margin-bottom: 0;}

  .m-t-d-15 {margin-top: 15px;}
  .m-t-d-10 {margin-top: 10px;}
  .m-t-d-5 {margin-top: 5px;}
  .m-t-d-7 {margin-top: 7px;}
  .m-b-d-15 {margin-bottom: 15px;}
  .m-b-d-5 {margin-bottom: 5px;}
  .m-b-d-10 {margin-bottom: 10px;}
  .m-t-d-30 {margin-top: 30px;}
  .m-b-d-30 {margin-bottom: 30px;}

  .p-t-d-15 { padding-top: 15px;}
  .p-b-d-15 {padding-bottom: 15px;}
  .p-t-d-30 { padding-top: 30px;}
  .p-t-d-60 { padding-top: 60px;}
  .p-b-d-30 {padding-bottom: 30px;}
  .p-b-d-60 {padding-bottom: 60px;}

  .p-b-d-120 {padding-bottom: 120px;}
  .p-t-d-120 {padding-top: 120px;}
}

.font-align-center {text-align: center;}
.font-align-right {text-align: right;}
.font-align-left {text-align: left;}

.font-size-37 {font-size: 37px;}
.font-size-23 {font-size: 23px;}
.font-size-28 {font-size: 28px;}
.font-size-30 {font-size: 30px;}
.font-size-17 {font-size: 17px;}
.font-size-15 {font-size: 15px;}
.font-size-12 {font-size: 12px;}



@media screen and (min-width: 1024px) {
  .font-size-m-37 {font-size: 37px;}
  .font-size-m-23 {font-size: 23px;}
  .font-size-m-28 {font-size: 28px;}
  .font-size-m-30 {font-size: 30px;}
  .font-size-m-17 {font-size: 17px;}
  .font-size-m-15 {font-size: 15px;}
  .font-size-m-12 {font-size: 12px;}
}

@media screen and (min-width: 1024px) {
  .font-size-d-50 {font-size: 50px;}
  .font-size-d-40 {font-size: 40px;}
  .font-size-d-30 {font-size: 30px;}
  .font-size-d-20 {font-size: 20px;}
  .font-size-d-23 {font-size: 23px;}
  .font-size-d-13 {font-size: 13px;}


  .lg-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .lg-row section {
    flex: 1;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
  }
}


.error-class > * {
  padding-top: 2px;
  padding-bottom: 2px;
}
.error-class > *:first-child {
  padding-top: 10px;
}
.error-class > *:last-child {
  padding-bottom: 10px;
}

a {
  color: inherit;
}


.line-space-3 {letter-spacing: 3px;}
.line-space-2 {letter-spacing: 2px;}
.line-space-1 {letter-spacing: 1px;}
.line-space-1-5 {letter-spacing: 1.5px;}



.line-height-20 {line-height: 20px;}
.line-height-30 {line-height: 30px;}
.line-height-40 {line-height: 40px;}
.line-height-50 {line-height: 50px;}


@media screen and (min-width: 1024px) {
  .line-height-d-25 {line-height: 25px;}
  .line-height-d-30 {line-height: 30px;}
  .line-height-d-40 {line-height: 40px;}
  .line-height-d-50 {line-height: 50px;}
  .line-height-d-60 {line-height: 60px;}

  .max-width-d-70 {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  .max-width-d-60 {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }
  .max-width-d-50 {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }

}


a:hover {
  cursor: pointer;
}

.align-middle-row {vertical-align: middle;}

.bg-worldmap {background-image: url('../img/bg-worldmap-lg.jpg')}
.bg-size-cover {background-size: cover}
.bg-position-center {background-position: center center;}
.bg-position-bottom-right {background-position: right bottom;}
.bg-position-top-right {background-position: right top;}

.bg-no-repeat {background-repeat: no-repeat;}

.bg-compass-upper {background-image: url('../img/image-compass-upper.png')}
@media screen and (max-width: 1023px) {
  .bg-m-compass-upper {background-image: url('../img/image-compass-upper.png')}
}
@media screen and (min-width: 1024px) {
  .bg-d-compass-upper {background-image: url('../img/image-compass-upper.png')}
}

.bg-map-baloon {background-image: url('../img/bg-image-baloon-map.png')}
.bg-map {background-image: url('../img/bg-map.jpg')}


@media screen and (max-width: 1023px) {
  .bg-m-sextant {background-image: url('../img/image-sextant.png')}
}
@media screen and (min-width: 1024px) {
  .bg-d-sextant {background-image: url('../img/image-sextant.png')}
}

.bg-stamp {background-image: url('../img/bg-stamp.png')}


.bg-compass-full { background-image: url('../img/bg-compass-full.png');}

@media screen and (max-width: 1023px) {
  .bg-m-compass-full { background-image: url('../img/bg-compass-full.png');}
}
@media screen and (min-width: 1024px) {
  .bg-d-compass-full { background-image: url('../img/bg-compass-full.png');}
}


.border-left {
  box-shadow: inset 15px 0px 0px 0px #F2F2F2;
}

.border-right {
  box-shadow: inset -15px 0px 0px 0px #F2F2F2;
}

.bg-clouds {background-image: url('../img/bg-clouds.jpg')}

@media screen and (max-width: 1023px) {
  .bg-m-clouds {background-image: url('../img/bg-clouds.jpg')}
}
@media screen and (min-width: 1024px) {
  .bg-d-clouds {background-image: url('../img/bg-clouds.jpg')}
}

.bg-compass-pos-1 {
  background-position: 0 0;
}

.bg-compass-pos-2 {
  background-position: 0 right 50%;
}

.bg-compass-pos-3 {
  background-position: 140% 100%;
}

.bg-compass-pos-5 {
  background-position: center center;
}

label, input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  color: #fff;
}

.btn-loading {
  pointer-events: none;
  opacity: 0.5;
}
.btn-loading:after {
  content: '(Loading..)';
  display: unset;
  padding-left: 5px;
  width: 100%;
  background: none;
}


input {
  background: rgba(255,255,255,0.2);
  height: 30px;
  line-height: 30px;
  font-family: 'Raleway';
  color: white;
}


.pos-relative {position: relative}

.font-weight-bold {font-weight: bold;}
.font-weight-bolder {font-weight: 700;}


.grid-container {display: flex;}
.grid-row {flex-direction: row}
.grid-col {align-self: baseline;}
.col-right {margin-right: 0;margin-left: auto;}
.col-60 {flex: 0 0 60px}
.col-70 {flex: 0 0 70px}

.overflow-hidden {overflow: hidden;}


.z-0 {z-index:0}
.z-1 {z-index:1}
.z-2 {z-index:2}
.z-3 {z-index:3}

.position-backs {
  position: absolute;
  top: 0;
  left: -2px;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}


.position-baloon {
  position: absolute;
  /* max-width: 50%; */
  width: 180px;
  left: -15px;
  top: -15px;
}

.position-tilicho {
  position: absolute;
  top: 20%;
  right: 3px;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}


.divider {
  height: 1px;
  display: block;
  /* width: 100%; */
}

.text-trans-uppercase {text-transform: uppercase;}

.text-deco-underlined {text-decoration: underline}

.text-trans-italic {font-style: italic}

a, .btn, button {text-decoration: none;letter-spacing: 0.78px;}

button {border: none; box-shadow: none;}

.std-button {
  border-radius: 19px;
  height: 35px;
  padding: 0 15px;
  line-height: 35px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: none;
}
.std-button:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background: var(--halfWhite);
}

.paragraph {
  /* We recommend renting: */
  /* font-family: VarelaRound-Regular; */
  /* font-size: 15px; */
  /* color: #FFFFFF; */
  letter-spacing: 0.37px;
  /* line-height: 20px; */
}
.section-headline {
  /* Transport: */
  /* font-family: GreatVibes-Regular; */
  /* font-size: 28px; */
  /* color: #FFFFFF; */
  letter-spacing: 1.4px;
}

.section-sub-headline {
/* to the venues: */
/* opacity: 0.5; */
/* font-family: JustAnotherHand-Regular; */
/* font-size: 23px; */
/* color: #FFFFFF; */
white-space: nowrap;
letter-spacing: 1.85px;
}
.section-sub-headline .line {
  width: 46px;
  height: 1px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

.container {
  /* margin-left: 15px;
  margin-right: 15px; */
  display: block;
}

@media screen and (max-width: 1023px) {
  .hide-m {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .lg-grid {
    /* display: flex; */
  }
  .hide-d {
    display: none !important;
  }
  .lg-col {

  }
}


section {
  /* width: 100%;
  calc(100% - 30px) */
}


.lang-fr .sv,
.lang-fr .en {display:none}

.lang-en .sv,
.lang-en .fr {display:none}

.lang-sv .fr,
.lang-sv .en {display:none}


.language-selector {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: right;
  vertical-align: top;
  line-height: 0;
  /* background: var(--halfWhite) */
  background: rgba(242, 242, 242, 0.5)
}

.language-selector * {
  vertical-align: middle;
  display: inline-block;
}

.language-selector img {
  width: 28px;
  height: auto;
}

/**
D5BE9D // light-brown
2D4B64 // dark blue
FFFFFF // white
rgb(255,255,255) // white
rgba(255,255,255, 0.5) // half white
**/



/* custom map  */

::-webkit-input-placeholder { /* Edge */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}